.about {
  h2 {
    margin: 0 0 11px;

    font-family: $roboto-condensed;
    font-size: 36px;
    font-weight: 400;
    color: $color-black-pearl;
    line-height: 51px;

    @include vp-1023 {
      margin: 0 0 6px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 39px;
    }
  }

  p {
    margin: 0 0 20px;

    color: $color-black-pearl;
    line-height: 22px;

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
    }
  }

  span {
    @include vp-767 {
      display: none;
    }
  }
}

.about__container {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 100px;

  @include vp-1023 {
    gap: 25px;
  }

  @include vp-767 {
    display: block;

    img {
      display: none;
    }
  }
}

.about__button {
  padding: 13px 50px;
  margin-top: 20px;
  border: 1px solid $color-deep-sky-blue;

  color: $color-deep-sky-blue;
  line-height: 16px;
  background-color: transparent;

  @include vp-1023 {
    margin-top: -3px;
  }

  @include vp-767 {
    padding: 8px 40px;
  }
}
