.callback {
  padding: 170px 40px 250px;
  background-color: $color-deep-sky-blue;
  background-image: linear-gradient(139deg, rgba(4, 24, 39, .5) 33.7%, $color-deep-sky-blue 33.7% 100%);

  @include vp-1023 {
    padding: 50px 0 125px;
    background-image: none;
  }

  @include vp-767 {
    padding: 50px 0 90px;
  }
}

.callback__container {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;

  @include vp-767 {
    justify-content: center;
  }
}

.callback__image-wrapper {
  width: 50%;
  padding-top: 78px;

  @include vp-1023 {
    display: none;
  }
}

.callback__form {
  margin-left: 40px;
  width: 50%;

  @include vp-1023 {
    width: 100%;
    margin-left: 0;
  }
}
