.callback {
  padding: 170px 40px 250px;
  background-color: $color-deep-sky-blue;
  background-image: linear-gradient(139deg, rgba(4, 24, 39, 0.5) 33.7%, $color-deep-sky-blue 33.7% 100%);

  @include vp-1023 {
    padding: 50px 0 125px;
    background-image: none;
  }

  @include vp-767 {
    padding: 50px 0 90px;
  }
}

.callback__container {
  display: flex;

  @include vp-767 {
    justify-content: center;
  }
}

.callback__image-wrapper {
  padding-top: 78px;
  max-width: 510px;
  flex-shrink: 1;

  @include vp-1023 {
    display: none;
  }
}

.callback__form {
  margin-left: 119px;
  max-width: 585px;

  @include vp-1023 {
    width: 100%;
    margin-left: 0;
  }
}
