.contacts__link {
  display: grid;
  grid-template-columns: 15px auto;
  column-gap: 15px;
  align-items: center;
  color: $color-default-white;

  @include vp-1023 {
    padding: 10px;
    place-content: center;
    grid-template-columns: 1fr;

    span:not(.visually-hidden) {
      display: none;
    }
  }

  svg {
    color: $color-deep-sky-blue;
  }
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 480px;

  @include vp-1023 {
    // max-width: 100px;
    min-width: auto;
    gap: 20px;
  }
}
