.contacts__link {
  display: grid;
  grid-template-columns: 15px auto;
  column-gap: 21px;
  align-items: center;
  color: $color-default-white;
  cursor: pointer;

  @include hover-focus {
    opacity: 0.7;

    &:active {
      opacity: 1;
    }
  }

  @include vp-1023 {
    padding: 10px;
    place-content: center;
    grid-template-columns: 1fr;

    span:not(.visually-hidden) {
      display: none;
    }
  }

  @include vp-767 {
    padding: 5px 10px 10px;
  }

  svg {
    color: $color-deep-sky-blue;
  }
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include vp-1023 {
    min-width: auto;
    gap: 20px;
  }
}
