.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 30px 40px 35px;
  background-image: linear-gradient(180deg, $color-black-pearl 84.9%, rgba(4, 24, 39, 0) 100%);

  @include vp-1023 {
    position: static;
    padding: 20px 0 25px;
  }

  @include vp-767 {
    padding: 15px 0 20px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;

  @include vp-1023 {
    align-items: start;
  }
}

.header__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 330px;

  @include vp-1023 {
    display: none;
  }
}

.header__button {
  min-width: 160px;
  margin-right: 61px;
  padding: 10px 17px 13px;
  border: 1px solid $color-alice-blue;

  color: $color-alice-blue;
  background-color: transparent;

  @include vp-1023 {
    display: none;
  }
}

.header__logo {
  width: 215px;
  flex-shrink: 0;

  @include vp-767 {
    width: 35px;
    margin-right: 20px;
  }

  img {
    @include vp-767 {
      width: 35px;
      height: 35px;
    }
  }
}
