.intro {
  position: relative;
  background-color: $color-black-pearl;

  h1 {
    margin: 0 0 34px;

    font-family: $roboto-condensed;
    font-size: 80px;
    font-weight: 700;
    color: $color-alice-blue;
    line-height: 94px;
    text-transform: uppercase;
    letter-spacing: 0.07em;

    @include vp-1023 {
      margin: 0;

      font-size: 64px;
      line-height: 75px;
    }

    @include vp-767 {
      margin: 0 0 6px;

      font-size: 36px;
      line-height: 43px;
    }
  }

  p {
    margin: 0 0 48px;

    font-size: 22px;
    color: $color-alice-blue;
    line-height: 35px;

    @include vp-1023 {
      margin: 0 0 59px;
    }

    @include vp-767 {
      margin: 0 0 43px;

      font-size: 14px;
      line-height: 22px;
    }
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.intro__container {
  @include vp-1023 {
    min-height: 640px;
    margin-top: -100px;
  }

  @include vp-767 {
    min-height: 560px;
    margin-top: -70px;
  }
}

.intro__context {
  width: 720px;
  min-height: 881px;
  position: relative;
  padding-top: 302px;
  margin: 0 auto;
  transform: translateX(-125px);

  @include vp-1023 {
    width: 670px;
    min-height: 540px;
    padding-top: 180px;
    transform: translateX(0);
    margin: 0 0 0 50px;
  }

  @include vp-767 {
    width: 270px;
    min-height: 490px;
    padding-top: 150px;
    margin: 0 0 0 26px;
  }
}

.intro__button {
  display: inline-block;
  padding: 15px 25px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
  color: $color-alice-blue;

  background-color: $color-deep-sky-blue;

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    width: 100%;
    margin-left: 0;
    padding: 12px 30px;
    font-size: 14px;
    line-height: 16px;
  }

  span {
    &:last-child {
      display: none;

      @include vp-767 {
        display: block;
      }
    }

    &:first-child {
      @include vp-767 {
        display: none;
      }
    }
  }
}
