.intro {
  position: relative;
  width: 100%;

  background-color: $color-black-pearl;

  @include vp-1023 {
    min-height: 640px;
  }

  @include vp-767 {
    min-height: 560px;
  }

  h1 {
    margin: 0 0 40px;

    font-family: $roboto-condensed;
    font-size: 80px;
    font-weight: 700;
    color: $color-alice-blue;
    line-height: 93.75px;

    @include vp-1023 {
      font-size: 64px;
      line-height: 75px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 42.19px;
    }
  }

  p {
    margin: 0 0 40px;

    font-size: 22px;
    color: $color-alice-blue;
    line-height: 34.1px;

    @include vp-767 {
      font-size: 14px;
      line-height: 21.7px;
    }
  }
}

.intro__container {
  margin: 0 auto;
  max-width: 1920px;
}

.intro__context {
  width: 720px;
  max-height: 400px;
  position: absolute;
  top: 34.5%;
  left: 24.7%;

  @include vp-1023 {
    width: 670px;
    top: 28%;
    left: 6.5%;
  }

  @include vp-767 {
    width: 270px;
    top: 27%;
    left: 8%;
  }
}

.intro__button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  line-height: 21px;
  color: $color-alice-blue;

  background-color: $color-deep-sky-blue;

  @include vp-767 {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 16px;
  }

  span {
    &:last-child {
        display: none;

        @include vp-767 {
          display: block;
        }
      }

    &:first-child {
      @include vp-767 {
        display: none;
      }
    }
  }
}
