.main__intro {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.main__features {
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.main__about {
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 100px;

  @include vp-1023 {
    margin-bottom: 80px;
  }
}
