.main__intro {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.main__features {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }
}

.main__about {
  margin-bottom: 100px;

  @include vp-1023 {
    margin-bottom: 80px;
  }
}
